<footer class="footer">
    <div class="container text-white p-4 mt-5">
        <div class="row">
            <div class="col-md-3 col-sm-12  ">
                <div class="logo">
            <img  src="assets/images/logobg.png" alt="" height="50" width="110" class="logowhite"> </div>
            <p class="text-black">as an upscale and exclusive chauffeur and limousine service near indonesia,
            we have been ensuring for more than 15 years that you get to yur destination on time and safety.</p>
            <div>
                <a href="https://www.twitter.com" target="_blank"><fa-icon class="icon fa-lg" [icon]="faTwitter"></fa-icon></a>
                <a href="https://www.facebook.com" target="_blank"><fa-icon class="icon fa-lg" [icon]="faFacebook"></fa-icon></a>
                <a href="https://www.linkedin.com" target="_blank"><fa-icon class="icon fa-lg" [icon]="faLinkedIn"></fa-icon></a>
                <a href="https://www.instagram.com" target="_blank"><fa-icon class="icon fa-lg" [icon]="faInstagram"></fa-icon></a>
            </div>
            </div>
            <div class="col-md-3 col-sm-12 ">
                <div class="space">
                <h6 class="title">Buy Vehicule</h6>
            
                <h6>Find new car</h6>
                <h6>Current vehicule offers</h6>
                <h6>Price lists & brochures</h6>
            </div>
            </div>
            <div class="col-md-3 col-sm-12 ">
                <div class="space">
                <h6 class="title">Purchase advice</h6>
              
                <h6>Book a test drive</h6>
                <h6>Find a dealer near you</h6>
                <h6>Find used vehicles</h6></div>
            </div>
            <div class="col-md-3 col-sm-12  ">
                <div class="space">
                <h6 class="title">Customer Service</h6>
        
                <h6>Current service offers</h6>
                <h6>Online service campaign VIN-checker</h6>
                <h6>5 Year staf service</h6>
                <h6>24h roadside assitance</h6>
                <h6>New and events</h6>
                <h6>Press relase</h6></div>
            </div>
            <hr>
           
            <div class="col-md-3 ">Copyright 2023 mobiling Co.</div>
            <div class="col-md-2 ">Terms of Service</div>
            <div class="col-md-2 ">Privacy Policy</div>
            <div class="col-md-2 ">Cookies</div>
            <div class="col-md-3 "> <fa-icon class="icon" [icon]="faGlobe"></fa-icon>English  <fa-icon class="icon" [icon]="faArrow"></fa-icon></div>
        </div>
       
    </div>
</footer>