<div class=" about container bg-light">
    <h3>Mobiling Social</h3>
    <div class="card infocard">
        <div class="cardborder">
            <div class="row">          
                <div class="card-body ">
                    <div class="col-md-8">
                        <div class="title">
                            <h4 class="text-white"> Information on data processing</h4>
                        </div>
                        <div class="contentparagraph text-white">
                            <p>O our website we provide content fro Storystream . 
                                To view this content,you must agree to the data processing by Storystream.
                            </p>
                        </div>
                        <div class="infobutton ">
                            <button class="btn btn-secondary m-4 ">&#9656; Agree</button>
                            <button class="btn btn-secondary">&#9656; Information on data privacy</button>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="title">
                <h3>About Us</h3>
            </div>
            <div class="content">
                <h4>Fin out briefly but informatively</h4>
                <p class="mt-5">as an upscale and exclusive chauffeur and limousine service near indonesia,
                        we have been ensuring for more than 15 years that you get to yur destination on time and safety.
                        We sell in around indonesia , as well as beyond to destinations thoughout World. 
                    From the Indonesia to shuffle service, you can look forward to a professional team ad comfort of our car servive
                </p>
            </div>
      </div>

        <div class="col-md-6 text-center">
            <div class="card IconWtitle">
                <div class="row">
                    <div class="col-md-6">
                        <fa-icon class="icon fa-lg" [icon]="faCar"></fa-icon>
                        <h6>From business to Luxuryclass</h6>
                    </div>
                    <div class="col-md-6">
                        <fa-icon class="icon fa-lg " [icon]="faCar" ></fa-icon>
                        <h6>125 Location in Indonesia</h6>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6 ">
                        <fa-icon class="icon fa-lg" [icon]="faHand"></fa-icon>
                        <h6>24/7 Exclusive On the road</h6>
                    </div>
                    <div class="col-md-6 ">
                        <fa-icon class="icon fa-lg " [icon]="faClock"></fa-icon>
                        <h6>Convenient Online Book</h6>
                    </div>
                </div>
            </div>
        </div>
  
     </div>
    </div>
