
    <div class="home container bg-light">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
       
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row" >
                <div class="col-xl-6 col-md-6 col-sm-12">
                  <h5 class="text-dark" style="font-weight: bold; font-size: 50px;">Best Car For Your Performance</h5>
                  <p>We will serve you to get dream car here easily and quickly is reliable</p>
                  <input type="text" placeholder="Search" class="form-control w-75 d-inline" style="border-radius: 9%; border-right: none;">
                  <i class="fa-solid fa-magnifying-glass" style="color: white; border: 2px solid rgb(168, 209, 243); font-size: 26px; background-color: rgb(168, 209, 243); border-radius: 9%; border-left: none;"></i>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 div1">
                  <img src="assets/images/whitecar.png" alt="" style="width: 95%;">
                  <a class="carousel-control-prev " href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 div2">
                  <h3 class="text-dark" style="font-weight: bold; font-size: 50px;">BMW Series 3 WHITE</h3>
                  <div class="row">
                    <div class="col-xl-4 col-md-4 col-sm-12">
                      <p>Base Price</p>
                      41.87k
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-12">
                      <p>Power</p>
                      365 HP
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-12">
                      <p>Engine</p>
                      362 v6
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="carousel-item">
                <div class="carousel-item active">
                    <div class="row" >
                      <div class="col-xl-6 col-md-6 col-sm-12">
                        <h5 class="text-dark" style="font-weight: bold; font-size: 50px;">Best Car For Your Performance</h5>
                        <p>We will serve you to get dream car here easily and quickly is reliable</p>
                        <input type="text" placeholder="Search" class="form-control w-75 d-inline" style="border-radius: 9%; border-right: none;">
                        <i class="fa-solid fa-magnifying-glass" style="color: white; border: 2px solid rgb(168, 209, 243); font-size: 26px; background-color: rgb(168, 209, 243); border-radius: 9%; border-left: none;"></i>
                      </div>
                      <div class="col-xl-6 col-md-6 col-sm-12 div1">
                        <img src="assets/images/bluecar.png" alt="" style="width: 95%;">
                        <a class="carousel-control-prev " href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                      </div>
                      <div class="col-xl-6 col-md-6 col-sm-12 div2">
                        <h3 class="text-dark" style="font-weight: bold; font-size: 50px;">BMW Series 3 BLUE</h3>
                        <div class="row">
                          <div class="col-xl-4 col-md-4 col-sm-12">
                            <p>Base Price</p>
                            41.87k
                          </div>
                          <div class="col-xl-4 col-md-4 col-sm-12">
                            <p>Power</p>
                            365HP
                          </div>
                          <div class="col-xl-4 col-md-4 col-sm-12">
                            <p>Engine</p>
                            362v6
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        
            
          </div>
       
      
        </div>
    
      
   